main {
    background-color: rgb(241, 241, 241);
}

.FCimg {
    margin: 50px 0px;
}
.covid-picture-pc{
    margin: 50px 0px;
    width: 75%;
}
.width100{
    width: 100%;
}
/* 新バージョン */
/* gitテスト */
.new_top_banner {
    background-image: url("../image/franchise/newFC_thubnail.jpg");
    background-size: auto;

}

.new_top_banner_text {
    color: #fff;
    font-size: clamp(2.5rem, 2.5vw, 4.0rem);
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 3px 3px 3px #000, -3px -3px 3px #000,
        -3px 3px 3px #000, 3px -3px 3px #000,
        3px 0px 3px #000, -3px -0px 3px #000,
        0px 3px 3px #000, 0px -3px 3px #000;
    text-align: right;
    /* スライドとの間の空白 */
    margin-bottom: 110px;
    padding-top: 150px;
    padding-right: 100px;
    padding-bottom: 130px;


}

.new_banner_text1 {
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-shadow: 4px 4px 0 rgb(3, 1, 44);
    /* text-decoration: underline #4114a8; */
}

.new_banner_text1 span {
    color: crimson;
    text-shadow: 0px 0px 0 rgb(0, 0, 0);
    -webkit-text-stroke: 0px rgb(0, 0, 0);
    text-shadow: 2px 2px 0 rgb(2, 2, 2);
    transform: rotate(-15deg);
    display: inline-block;
    /* border: 7px solid #ff0000; */
    border-radius: 20%;
    padding-left:10px;
}

/* 新バージョン */

.slide_show {
    width: 100%;
    height: auto;

}

hr {
    border: 1px solid transparent;
}

.top-heading {
    color: red;
    font-size: 37px;
}

/* フットネス事業を立ち上げてみませんか?未経験でも始められるフランチャイズバナー */
.top-banner1 {
    width: 100%;
    /* text-align: center; */
    background-color: white;
    margin: 100px 0px;
}

.light-blue-div-parent {
    background-color: rgb(193, 245, 252);
    text-align: center;
    display: block;
    background-image: url("../image/franchise/woman2.png");
    background-size: 180px;
}

.light-blue-div-children {
    text-align: left;
    display: inline-block;
}

.banner-heading-red-small {
    color: crimson;
    font-weight: 900;

}

.banner-heading-red {
    color: crimson;
    font-size: 4vw;
    font-weight: 900;
}

.Q {
    font-weight:900;
}

/* フットネス事業を立ち上げてみませんか?未経験でも始められるフランチャイズバナー */

.top-banner2 {
    width: 100%;
    text-align: center;
}

#toppng {
    margin: 50px 0px;
}
/* HF24の強み */

.strength{
    background-image: url("../image/franchise/strengths1-bg.jpg");
    background-size: cover;
    background-position: top
    ;}

.strength h1{
    color: #fff;
    font-size: 4vw;
    margin-bottom: 5vmax;
    float: left;
    color: #FF7C00;
    background: -webkit-linear-gradient(top, #FFB76B 0%, #FFA73D 50%, #FF7C00 51%, #FF7F04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 10px;
}
.achievement-div{
    margin-top: 20vmax;
    color: rgba(227, 179, 29);
    background: rgba(255, 255, 255, 0.7);
    padding-left: 10px;
}
.ranking-text-pc{
    color: #fff;
}

.ranking-site-link{
    color: #fff;
}
.ranking-site-link:hover{
    color: rgb(189, 189, 189);
}
.achievement{
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: clamp(1.2rem, 2.5vw, 4.0rem);
    font-weight: bold;
}
.Silver{
    color: silver;
    font-size: clamp(1.6rem, 3.0vw, 5.0rem);
    text-shadow: 3px 3px 3px #000, -3px -3px 3px #000,
        -3px 3px 3px #000, 3px -3px 3px #000,
        3px 0px 3px #000, -3px -0px 3px #000,
        0px 3px 3px #000, 0px -3px 3px #000;
}
.Gold{
    color: gold;
    font-size: clamp(1.6rem, 3.0vw, 5.0rem);
    text-shadow: 3px 3px 3px #000, -3px -3px 3px #000,
        -3px 3px 3px #000, 3px -3px 3px #000,
        3px 0px 3px #000, -3px -0px 3px #000,
        0px 3px 3px #000, 0px -3px 3px #000;
}
/* HF24の強み */
.contact-here{
    padding: 4vmax 0vmax 2vmax 0vmax;
}
.area-sp {
    padding: 0.3em 0;
    font-size: 1.5em;
    color: #333;
    border-bottom: 2px solid rgb(192, 192, 192);
}
.colum{
    margin-right: 30px;

}
.colum-detail{
    margin-top: 15px;
}
.heading-red-underbar {
    color: red;
    margin-bottom: 40px;
    border-bottom: solid 3px black;
    text-align: center;
}

.heading-red {
    color: rgb(199, 0, 0);
    margin-bottom: 40px;
    text-align: center;

}

.heading-2 {
    text-align: center;
    margin-bottom: 40px;
}
/* 基本戦略・コンセプト */
.concept{
    padding-left: 15%;
    margin-top: 60px;
}
.concept-text{
    font-size:calc(0.8em + 1vw);
    float: left;
    background: linear-gradient(#ffffff, #e6e6e6);
    padding: left 80%;
    border-radius: 5px;
    padding: 2px;
}

.v-text{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    /* background: linear-gradient(#05FBFF, #1E00FF); */
    background: linear-gradient(#6883ff, #1E00FF);
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    font-size:calc(0.8em + 1vw);
    margin-top: 10px;
}
.h-text{
    font-size: 1.5em;
}
.row {
    display: flex;
    margin-bottom: 50px;
  }
  .col { 
    width: 100%;
    height: 100px;
  }
/* 基本戦略・コンセプト */

/* FC展開中 */
.FCextending-div {
    background-image: url("../image/franchise/MAP2.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.FCextending-text-div {
    font-size: 1.5em;
}

.FCextending-red-text {
    font-size: 3em;
    color: red;
    text-align: center;
    text-shadow: #000;
    margin-right: auto;
    margin: 0;
    text-align: left;
    margin-right: auto;
    text-shadow:
        3px 3px 0px rgb(255, 255, 255), -3px -3px 0px rgb(255, 255, 255),
        -3px 3px 0px rgb(255, 255, 255), 3px -3px 0px rgb(255, 255, 255),
        3px 0px 0px rgb(255, 255, 255), -3px -0px 0px rgb(255, 255, 255),
        0px 3px 0px rgb(255, 255, 255), 0px -3px 0px rgb(255, 255, 255);
}

.distribution {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.area-pc {
    width: 25%;
    display: flex;
}

/* FC展開中 */

/* お問合せdiv */
.attention {
    text-align: center;
    display: block;
}

.f-red {
    color: red;
    display: inline-block;
    text-align: left;
}

.tap {
    text-align: center;
}

.time {
    text-align: center;

}

#contactx {
    border-top: solid 3px #dfdfdf;
}

.contact-time {
    padding-top: 0px;
    margin: 0px;
}

a.more-btn {
    margin-bottom: 0px;
}

/* お問合せdiv */


/* 資料請求・お問い合わせボタン */



.li-text {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1.4em;
    text-indent: -1.4em;
}


/* FCオープンまでのながれ */

#flowdiv {

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.flow {
    position: relative;
    overflow: hidden;
    padding: 1.5rem 2rem 1.5rem 120px;
    border: 2px solid #000;
    text-align: center;
    color: rgb(236, 236, 236);
    background-color: rgb(56, 56, 77);
    font-size: 2vw;

}


/* 右の斜め背景  */

.flow:before {
    position: absolute;
    top: -150%;
    left: -100px;
    width: 220px;
    height: 300%;
    content: '';
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    background: rgb(48, 13, 175);
    font-size: 2vw;
}


/* 右の数字  */

.flow span {
    font-size: 3.0rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    padding-top: 3px;
    padding-left: 16px;
    color: rgb(255, 254, 251);
}

.flow:last-child {
    background-color: #ff74ae;
}

.flow:last-child::before {
    background-color: rgb(56, 56, 77);

}

.flow-h3 {
    margin: 30px 0px;
}

/* FCオープンまでのながれ */

/* スライドショー */
.slider {
    /*横幅94%で左右に余白を持たせて中央寄せ*/
    width: 94%;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    /*スライダー内の画像を横幅100%に*/
    height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin: 0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;
    /*絶対配置にする*/
    top: 42%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;
    /*矢印の色*/
    border-right: 2px solid #666;
    /*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    /*ドットボタンのサイズ*/
    height: 8px;
    /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #ccc;
    /*ドットボタンの色*/
}

.slick-dots .slick-active button {
    background: #333;
    /*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/

body {
    background: #eee;
}

h2, p {
    text-align: center;
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
}

a:hover,
a:active {
    text-decoration: none;
}

/* 問い合わせ～な方など */
.case {
    position: relative;
    color: #e51d0d;
    background: #f2f5fe;
    font-size: 16pt;
    border: 3px solid #210500;
    margin: 10px 10px 23px 10px;
    padding: 10px 5px 10px 10px;
    border-radius: 3px;
    box-shadow: 1px 3px 7px 0px #4e5264;
    border-radius: 0%;
}

.case:after, .case:before {
    content: "";
    position: absolute;
    top: 100%;
    height: 0;
    width: 0;
}

.case:after {
    left: 40px;
    border: 10px solid transparent;
    border-top: 10px solid #f2f5fe;
}

.case:before {
    left: 37px;
    border: 13px solid transparent;
    border-top: 13px solid #210500;
}

.case span {
    color: black;
}


/* スライドショー */
/* 秘訣 */
.method {
    background-color: rgb(66, 66, 138);
    color: cornsilk;
    font-size: 1.5em;
    display: flex;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.method-h2 {
    margin: 20px 0px;
}

.method-title {
    margin-left: 8px;
    white-space: nowrap;
}

.method-text {
    font-size: 1vw;
    margin: auto;
}

.box_inner {
    margin-bottom: 30px;
    /* background-color: #bfcfff; */
}

/* 秘訣 */
/* 妥協 */
.box {
    position: relative;

}



.box h3 {
    margin: 0;
    text-align: left;
    margin-right: auto;
}

.box h3:first-letter {
    font-size: 1.4em;
    color: #131b4b;
}

.method-text2 {
    margin-right: auto;
    margin: 0;
    text-align: left;
    margin-right: auto;
}

/* 妥協 */

/* 帯見出し */
.heading-blue {
    margin: 50px 0px;
    color: #dfdfdf;
    background: #3a0a95;
    font-size: 24pt;
    line-height: 1;
    padding: 10px 5px 10px 20px;
    box-shadow: 1px 3px 7px 0px #666666;
    border-top: 3px solid #474cfe;

}


.heading-blue:after, sample2:before {
    content: "";
    position: absolute;
    top: 100%;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top: 5px solid #333;
}

.heading-blue:after {
    left: 0;
    border-right: 5px solid #333;
}

.heading-blue:before {
    right: 0;
    border-left: 5px solid #333;
}


/* 帯見出し */
.p-text {
    text-align: center;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    font-size: 18px;
}



/* underBarAnimation */
.underbar-Span {
    position: relative;
    z-index: 1;
}

.underbar-Span:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 0%;
    height: 4px;
    background: #5bc8ac;
    z-index: -1;
    transition: all 0.8s;
}

.underbar-Span.isActive:after {
    width: 100%;
}

/* underBarAnimation */
/* Swiperslide */
.swiper {
    background: #eeeeee;
}

.s-four-wrap {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
}

.s-four-text,
.s-four-box {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    color: white;
}

.s-four-text {
    top: 20%;
    font-size: 3.0vw;
    padding: 10px;
    color: rgb(221, 215, 221);
    font-weight: bold;
    text-shadow:
        1px 1px 0px #000, -1px -1px 0px #000,
        -1px 1px 0px #000, 1px -1px 0px #000,
        1px 0px 0px #000, -1px 0px 0px #000,
        0px 1px 0px #000, 0px -1px 0px #000;
    color: #cfcdcc;
    background: #020010;
    font-size: 16pt;
    line-height: 1;
    margin: 10px 0px;
    padding: 10px 5px 10px 5px;
    box-shadow: 1px 3px 7px 0px #666666;
    border-top: 3px solid #805df2;
    border-radius: 5px;
}



.s-four-box {
    bottom: 0;
    height: 20%;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.75);
    text-align: left;
}

.swiper-slide-active .s-four-text {
    animation: slideFromRight 1.5s ease 0s 1 normal;

}



.swiper-slide-active .s-four-box {
    animation: slideFromRightBox 1.0s ease 0s 1 normal;

}

/* swiper-slide swiper-slide-active */
/* 画像 */
.swiper-img {
    opacity: 0.8;
    display: block;

    /* margin-top: 200px; */
}

/* お問合せフォーム */
.contact {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.contact-div {
    width: calc(100% / 2);
    text-align: center;
}

.text-contact {
    margin: 30px 0px;
}


/* 新ボタン0218 */
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";



.btn,
a.btn,
button.btn {
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-custom01 {
    font-size: 2.4rem;
  margin-bottom: 0.5rem;
  padding: 0;
  border-radius: 0.75rem;
  margin-bottom: 8vmax;
}

a.btn-custom01:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate3d(0, 0.75rem, -1rem);
  transform: translate3d(0, 0.75rem, -1rem);

  border: 2px solid #000;
  border-radius: inherit;
  background: #15b4b9;
  -webkit-box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:after {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  top: calc(50% - 1rem);
  left: 1.5rem;
  margin: 0;
  padding: 0;
  content: "\f0e0";
}

.btn-custom01-front {
  position: relative;
  display: block;
  padding: 1.5rem 5rem 1.5rem 5rem;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #000;
  border-radius: inherit;
  background: #54f4fa;
}

.fa-position-left {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 1rem;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - 0.5em);
  right: 1rem;
}

a.btn-custom01:hover {
  -webkit-transform: translate(0, 0.25rem);
  transform: translate(0, 0.25rem);
}

a.btn-custom01:hover:before {
  -webkit-transform: translate3d(0, 0.5rem, -1rem);
  transform: translate3d(0, 0.5rem, -1rem);
  -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:hover:after {
  content: "\f2b6";
}

a.btn-custom01:active {
  -webkit-transform: translate(0rem, 0.75rem);
  transform: translate(0rem, 0.75rem);
}

a.btn-custom01:active:before {
  -webkit-transform: translate3d(0, 0, -1rem);
  transform: translate3d(0, 0, -1rem);
  -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:active:after {
  content: "\f2b6";
}
/* 新ボタン0218 */

/* お問合せフォーム */

@keyframes slideFromRightBox {

    0%,
    65% {
        transform: translateY(100%);

    }

    100% {
        transform: translateY(0px);
    }
}

/* Swiperslide */

/* 767px以下（スマホ用）*/
@media (max-width: 767px) {
    .strength{
        background-size: cover;
    }
    .area-pc {
        font-size: 10px;
    }

    .FCextending-red-text {
        font-size: 20px;
    }

    .FCextending-red-text {
        font-size: 30px;
    }

    .Q {
        padding-left: 80px;
    }

    .banner-heading-red-small {
        padding-left: 60px;
    }

    .light-blue-div-parent {
        background-color: rgb(193, 245, 252);
        text-align: center;
        display: block;
        background-image: url("../image/franchise/woman2.png");
        background-size: 100px;
    }

    .FCextending-div {
        height: 200px;
    }
    /* お問合せボタン縦並び */
    .fl-box{
        justify-content:flex-end;
        flex-flow: column;
    }
    .colum{
        margin-right: 10px;
    }
    .achievement-div{
        margin-top: 70px;
    }
}

/* 991px以下（スマホ用）*/
@media (max-width: 991px) {
    .achievement-div{
        padding-left: 0px;
    }
    a.btn-custom01 {
        font-size: 1.5rem;
    }
    .achievement-div{
        margin-top: 270px;
    }
    .strength{
        background-size: cover;
    }
    .strength h1{
        margin-top: 50px;
    }
    .ranking-text-pc{
        display: none;
    }
    .covid-picture-pc{
        display: none;
    }

    .new_top_banner {
        background-size: 1200px;

    }

    .new_top_banner_text {
        text-align: center;
        padding-top: 0px;
        padding-right: 0px;
        /* スライドとの空白 */
        margin-bottom: 0px;

    }

    .new_banner_text1 {
        padding-top: 130px;
    }

    .area-pc {
        display: none;
    }

    .pc {
        display: none !important;
    }

    .sp {
        display: block !important;
    }



    .method {
        width: 100%;
        height: 30px;
    }



    .box_inner {
        padding-left: 10%;

    }

    .flow {
        font-size: 20px;
    }

    .area-pc {
        font-size: 1.5em;
    }

    .bg_text {
        padding: 0px 0px 50px 50px;
    }
    .concept{
        padding-left: 10px;
    }
}


/* 768px以上（タブレット・PC共通） */
@media (min-width: 768px) {}

/* 768x以上991px以下（タブレット用）*/
@media (min-width: 768px) and (max-width: 991px) {
    .FCextending-red-text {
        font-size: 2.5em;
    }
}

/* 992px以上（PC用） */
@media (min-width: 992px) {
    .ranking-text-sp{
        display: none;
    }
    .covid-picture-sp{
        display: none;
    }
    .br-sp {
        display: none;
    }

    .area-sp {
        display: none;
    }

    .FCextending-div {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 500px;
    }

    .heading-red-underbar {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .top_banner_text3 {
        color: crimson;
        font-size: 70px;
    }

    .top_banner_text1 {
        font-size: 50px;
    }


    .fifty {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }



    .case {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact {
        width: 70%;
    }

    .flow {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
    .FCextending-div {
        background-size: contain;
    }
}

@media (max-width: 535px) {
    .achievement-div{
        margin-top: 13vmax;
    }
    .concept{
        padding-left: 0px;
    }
}